#looproute-info {
display: inline-block;
    color: #dd3c87;
    margin-left: 23%;
}

.bel, .mail, .antwoord{
          width: 30%;
          float: left;
          margin-bottom: 30px;
}

.bel, .mail, .antwoord{
        padding-left: 20px;
}
 
.bel a, .mail a, .antwoord a{
         color: #dd3c87 !important;
}

@media only screen and (max-width: 992px){
#looproute-info {
    margin-top: 0px;
    margin-left: 0px;
}}

@media only screen and (max-width: 936px){
.bel, .mail, .antwoord{
          width: 50%;
          float: left;
}}

@media only screen and (max-width: 600px){
.bel, .mail, .antwoord{
          width: 100%;
          float: left;
}}

</style>

<div class="bel">
<h1>Bel ons</h1>
<p style="font-size: 220%; color: #dd3c87; margin-bottom:0.5em"><b><a href="tel:+310418721314"> (+31)  0418 - 72 13 14</a></b></p>
<p>Op werkdagen van 09.30 tot 17.00 uur. </p>
</div>

<div class="mail">
<h1>Mail ons</h1>
<p style="font-size: 220%; color: #dd3c87; margin-bottom:0.5em"><b><a href="mailto:{{config path="trans_email/ident_sales/email"}}">{{config path="trans_email/ident_general/email"}}</a> </b></p>
<p>Of gebruik ons <u><a href="#bottom">contactformulier</a></u>. </p>
</div>

<div class="antwoord">
<h1>Vind uw antwoord</h1>
<p style="color: #595959; font-size: 150%; margin-bottom:0.5em">Bekijk de <b><u style="color: #dd3c87; margin-bottom:0.5em"><a href="/klantenservice">meest gestelde vragen</a></u> </b></p>
</div>
</div>

<div>
<head>
<title>Testpage route planner with directions</title>
<style>
#geheel {position: relative; width: 100%; height:300px; display:inline-block; margin-top: -40px; margin-bottom: 40px;}
#map {position: relative; width: 100%; height:300px; z-index: 0;}

p.adres{
margin-top: 0px;
font-size: 18px;
line-height: 1.2em;
}

p.inspi{
    font-size: 17pt; 
    color:#dd3c87;
    margin-bottom:10px;
    line-height: 1.2em;
   padding-top:10px;
}

#wit-vlak { 
	position: relative;
	margin-top: -300px;
	top: 0px; 
	left: 0px; 
	z-index: 999; 
	width: 22%;
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
	height: 300px;
	text-align: center;
}
#tabel {
	margin-left: 10%;
}

#floating-panel {
      position: relative;
      margin-top: -294px;
      left: 23%;
      z-index: 5;
      background-color: transparent;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      float: left !important;
}

#floating-panel input{
	color: #dd3c87;
    background-color: white;
    height: 30px;
    width: 160px;
    border-width: 1px;
	border-style: solid;
	border-color: #dd3c87;
	margin: 0 0 10px 0;
}

#verberg1{
position: relative;
    margin-top: -35px;
    margin-right: 8px;
    z-index: 93;
    background-color: transparent;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    float: right;
	display:none;
}
#toon1{
    position: relative;
    z-index: 5;
    background-color: transparent;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    float: right;
    margin-right: 8px;
    margin-top: -254px;
    display: none;
}

#verberg1 input, #toon1 input{
	color: #dd3c87;
    background-color: white;
    height: 30px;
    width: 160px;
    border-width: 1px;
	border-style: solid;
	border-color: #dd3c87;
	margin: 0 0 10px 0;
}

@media only screen and (min-width: 991px){
#Navigatiemobiel{
	display: none;
}}

@media only screen and (max-width: 1071px){
p.inspi{
    font-size: 14pt; 
}
}

@media only screen and (max-width: 991px){
#Navigatiecomp, #directionsPanel, #toon1, #verberg1 {
	display: none !important;
}
#wit-vlak{
display: none;
}
#floating-panel {
    left: 1%;
}}

@media only screen and (max-width: 385px){
#floating-panel {
    margin-top: -259px;
    left: -10px;
    float: right !important;
}
}
		
.gmnoprint{
	display: none;
}

#toon input{
	position: relative;
	margin-top: -40px;
	z-index:100;
	top: 0px;
	left: 0%;
	float: left;
}

#Navigatiemobiel input{
	color: #dd3c87;
        background-color: white;
        height: 30px;
        width: 160px;
        border-width: 1px;
	border-color: #dd3c87;
	margin: 0 0 10px 0;
}

#Navigatiemobiel{
	position: relative;
	z-index:10;
	float: right;
        margin-top: 40px;
        margin-bottom: -46px;
        margin-right: 10px;
}

#Navigatiecomp{
	position: relative;
    z-index: 10;
    right: 0px;
    width: 296px;
    float: right;
    margin-bottom: -40px;
    margin-top: 40px;
}

#Navigatiecomp input{
     padding-left: 7px;
}

input[type="text"] {
		width: 233px;
		height: 30px;
	}
input[type="submit"] {
		padding: 6px 11px;	
		height: 34px;
		color: #dd3c87;
		background-color: white;
		border-width: 1px;
		border-color: #dd3c87;
		border-style: solid;
		margin: 0 0 0px -5px;
	}
#routeForm {
		text-align: center;
		margin-bottom: 0px !important;
	}
#directionsPanel {
	position: relative;
    margin-bottom: -315px;
    margin-top: 77px;
    margin-right: 8px;
    z-index: 129;
    float: right;
    background: white;
    width: 285px;
    padding: 0px;
    max-height: 215px;
    overflow-y: auto;
	}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input textarea:-webkit-autofill {
	background-color:white !important;
	color: red !important;
	}
	
.main .iframe {
	display: none !important;
	margin-left: 50px;
}
.adp, .adp-table, .adp-directions {
	font-size: 10px;
}
img.adp-marker{
display:none;

}

@media only screen and (min-width: 991px){
#open, #tabel2 { 
	display:none;
}}

#open p.adres{
margin-top: 0px;
font-size: 18px;
line-height: 1.2em;
text-align:left;
}

#open, #tabel2{
float: left;
width:50%;
}

#tabel2{
  padding: 0 0 20px 0;
}

#open p.adres{
  text-align:left;
  padding-bottom: 10px;
}

#open p.inspi{
  text-align:left;
  padding-top: 0px;
}

@media only screen and (max-width: 430px){
#open, #tabel2{
width:100%;
}}