.cookiealert {background-color:#595959;}
.cookiealert .message{ background-color:#595959; color:#fff; width: 50%; max-width: 50%; margin: 0 auto; }
.cookiealert .message.cleft div{margin:9px 10px 12px 10px;} 
.cookiealert .message span.cookie-title{display: block; color: #fff; font-size: 16px; font-weight: bold; margin: 0.4em 0 0;}
.cookiealert .message a{color: #f90; text-decoration: underline;}
.cookiealert .message a:hover{text-decoration: none;}
.cookiealert .message .close a{font-size: 16px; text-decoration: none; font-weight: bold;}
.cookiealert .message .close a:hover{text-decoration: underline;}
.cookiealert .button{margin:8px 6px 8px 6px; background-color:#ccc; padding-bottom:2px; height:23px; font-size:13px;  width:90px; line-height:0px; background-repeat:no-repeat; background-position: 1px center; }
.cookiealert a{color:#dd3c87 !important;}