<?php
/**
 * Pager template
 *
 * @see Mage_Page_Block_Html_Pager
 */
?>
<?php if($this->getCollection()->getSize()): ?>

    <?php if($this->getUseContainer()): ?>
    <div class="pager">
    <?php endif ?>

    <?php if($this->getShowAmounts()): ?>
    <p class="amount">
        <?php if($this->getLastPageNum()>1): ?>
            <?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
        <?php else: ?>
            <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
        <?php endif; ?>
    </p>
    <?php endif ?>
	
	<?php
	$pagetype = Mage::app()->getFrontController()->getAction()->getFullActionName();
	if ($pagetype == 'catalog_category_view') { 
		$anchor='';
	}
	elseif ($pagetype == 'catalog_product_view') {
		 $anchor='#customer-reviews';
	}
	?>

    <?php if($this->getLastPageNum()>1): ?>
    <div class="pages">
        <strong><?php echo $this->__('Page:') ?></strong>
        <ol>
        <?php if (!$this->isFirstPage()): ?>
            <li class="previous">
                <a class="previous ic ic-left" href="<?php echo $this->getPreviousPageUrl().$anchor ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Previous')) ?>"></a>
            </li>
        <?php endif;?>

        <?php if ($this->canShowFirst()): ?>
            <li><a class="first" href="<?php echo $this->getFirstPageUrl().$anchor ?>">1</a></li>
        <?php endif;?>

        <?php if ($this->canShowPreviousJump()): ?>
            <li><a class="previous_jump" href="<?php echo $this->getPreviousJumpUrl().$anchor ?>">...</a></li>
        <?php endif;?>

        <?php foreach ($this->getFramePages() as $_page): ?>
            <?php if ($this->isPageCurrent($_page)): ?>
                <li class="current"><?php echo $_page ?></li>
            <?php else: ?>
                <li><a href="<?php echo $this->getPageUrl($_page).$anchor ?>"><?php echo $_page ?></a></li>
            <?php endif;?>
        <?php endforeach;?>

        <?php if ($this->canShowNextJump()): ?>
            <li><a class="next_jump" href="<?php echo $this->getNextJumpUrl().$anchor ?>">...</a></li>
        <?php endif;?>

        <?php if ($this->canShowLast()): ?>
          <li><a class="last" href="<?php echo $this->getLastPageUrl().$anchor ?>"><?php echo $this->getLastPageNum() ?></a></li>
        <?php endif;?>

        <?php if (!$this->isLastPage()): ?>
            <li class="next">
                <a class="next ic ic-right" href="<?php echo $this->getNextPageUrl().$anchor ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Next')) ?>"></a>
            </li>
        <?php endif;?>
        </ol>

    </div>
    <?php endif; ?>

    <?php if($this->getUseContainer()): ?>
    </div>
    <?php endif ?>

<?php endif ?>
