<!--@subject Newsletter Anmeldung @-->
                            <p>Sie haben sich erfolgreich für den Newsletter angemeldet.</p>
							<p>Vielen Dank für Ihr Interesse.</p>
                            <p>Mit freundlichen Grüßen,</p>
							<img src="{{skin url='images/media/npf-de.jpg'}}" />