<!--@subject {{var customer.name}} heeft u uitnodigd zijn/haar verlanglijst te bekijken @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                    
                        <td valign="top">
</td>
                    </tr>
                </table>

            <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                        <p>Guten Tag, <br/>
                        Diese Artikel stehen auf meinem Wunschzettel. </p>

<p>{{var message}}</p>

                        {{var items}}

                        <br/>

{{depend salable}}

                        <p>Danke,<br/><strong>{{var customer.name}}</strong></p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
    </div>