<fieldset class="form-list">
    <ul id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none">
	<?php foreach ($this->getPaymentOptions() as $_code => $_option): ?>
        <li>
          <input style="float: left" id="msp_ideal_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[msp_idealissuer]" title="<?php echo $this->__($_option['description']) ?>" class="radio"/>
          <label for="msp_ideal_<?php echo $_code ?>"><?php echo $this->__($_option['description']) ?></label>
        </li>
	<?php endforeach; ?>
    </ul>
</fieldset>