/* 
	author: istockphp.com
*/

#backgroundPopup, #acp-overlay{ 
	z-index:9999;
	position: fixed;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}

#backgroundPopup{
	display:none;
}

.popup-lightbox{
    background: none repeat scroll 0 0 #eee;
    border-radius: 8px 8px 8px 8px;
    z-index:999999;
}

#toPopupcall.popup-lightbox, #toPopupmail.popup-lightbox{
	display: none;
	top: 30%;
	left: 50%;
	position: fixed;
	margin-left: -130px;
	max-width:260px;
}

#toPopupNewsletter.popup-lightbox{
	display:none;
	height:0px;
	bottom:0;
	position: fixed;
	width:100%;
	left:0;
	background: rgb(211, 60, 135);
    background: rgba(211, 60,135, .95);
	color:#fff;
}



#toPopupcontinue.popup-lightbox{
	display: block;
	padding: 1px 10px 10px 10px;
	color:#595959;
}

#ajaxcartpro-add-confirm{
	padding:0px;
	border-radius: 8px 8px 8px 8px;
	background-color: transparent;
}


.ajaxcartpro-box-show .aw-acp-continue, .ajaxcartpro-box-show .aw-acp-checkout, .ajaxcartpro-box-show .aw-acp-continue:hover, .ajaxcartpro-box-show .aw-acp-checkout:hover, .ajaxcartpro-box-show .text button, .popup-lightbox  .text a button{
	margin-top:10px;
	font-size:16px;
	font-family: Oswald,georgia,serif;
	font-weight: normal;
	width:100%;
	height:36px;
	padding:10px 0 0 0;
	background-image: none !important;
	border: none;
	border-radius: 4px 4px 4px 4px;
	color: #fff;
}

.popup-lightbox .text button{
	margin-bottom:10px;
	padding:0px !important;
	cursor:pointer;
}

.ajaxcartpro-box-show .aw-acp-continue{
	background-color:#595959;
}

.ajaxcartpro-box-show .aw-acp-checkout, .popup-lightbox .text button{
	background-color:#fe7628;
}

.ajaxcartpro-box-show .aw-acp-continue:hover{
	background-color:#454545;
}

.ajaxcartpro-box-show .aw-acp-checkout:hover, .popup-lightbox .text button:hover{
	background-color:#e76a22;
}

.popup-lightbox .header{
	height:17px;
	border-radius: 8px 8px 0px 0px;
	background-color:#dd3c87;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	padding: 5px 0 5px 15px;
}

.popup-lightbox .text{
	color:#595959;
	margin:8px 10px 10px 10px;
}

.popup-lightbox .text .phone{
	background-position:0px 10px;
	font-size:16px;
	font-weight:bold;
	padding:10px 0 10px 0;
}


.popup-lightbox div a:hover{
	text-decoration:none;
}

.popup-lightbox div.loader  {
    background: url(images/loading.gif) no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}

.popup-lightbox .close{
	z-index:100;
}

.popup-lightbox .close, .popup-lightbox div.closemail, .ajaxcartpro-box-show .header .aw-acp-continue {
    background: url(images/closebox.png) no-repeat scroll 0 0;
    cursor: pointer;
	top: 8px;
    float: right;
    height: 20px;
    left: -5px;
    position: relative;
    width: 20px;
	overflow:hidden;
}

.popup-lightbox span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}

.popup-lightbox div#popup_content {
    margin: 4px 7px;
	z-index: 99;
}

.popup-lightbox.video{
	background-color:transparent !important;
	width:700px;
    top: 20%;
    left: 50%;
    margin-left: -350px;
	z-index:999999;
	position: fixed;
	display:none;
}

.popup-lightbox.video .close, .popup-lightbox.news .close{
	background-color:#000 !important;
    border-radius: 18px 18px 18px 18px;
    padding: 4px;
    background-position: 50% 50%;
	z-index:0;
	border: solid 2px #fff;
}

.popup-lightbox span.ecs_tooltip{
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 11px;
    height: 16px;
	display: none;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -30px;
    text-align: center;
    top: -30px;
    width: 93px;
}

.popup-lightbox.video .close{
	top: 15px;
	left: 15px;
}

.popup-lightbox.news .close{
	top: -35px;	
	margin-right:20px;
}

.popup-lightbox.video .close:hover, .popup-lightbox.news .close:hover{
	background-color:#dd3c87 !important;
}

.popup-lightbox.news{
	padding:10px;
	font-size:17px;
	color:#595959;
	border-radius: 0px !important;
}

.popup-lightbox.news .inner{
	width:710px;
	padding:10px;
    margin:auto;
}

	.popup-lightbox.news p{
		font-size:24px;
		line-height:32px;
	}


.popup-lightbox.news img{
	float:right;
}

.popup-lightbox.news li{
	background: url('images/popup_vink.png') no-repeat 0 -2px;
	padding-left:30px;
	height:25px;
}

.popup-lightbox.news ul{
	float:left;
	width:60%;
	height:125px;
	margin:30px 0 30px 0;
}

.popup-lightbox.news form{
	font-size:11px;
}

.popup-lightbox.news input, .popup-lightbox.news button{
	height:40px;
	border:0;
	margin:0px;
	font-size:16px;
}

.popup-lightbox.news input{
	width:40%;
	color:#898989;
	float:none;
	text-align:center;
	background-color:#dadadc;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.popup-lightbox.news .validation-advice{
	width:40%;
	float:left;
}

.popup-lightbox.news button{
	background-color:#fd7527;
	width:20%;
	color:#fff;
	cursor:pointer;
	margin-left:-3px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.popup-lightbox.news button:hover{
	background-color:#e76a22;
}

.popup-lightbox.news #thanks{
	display:none;
}

@media only screen and (max-width: 768px) {
	.popup-lightbox.video{
		width:400px;
		height:216px;
		top: 20%;
		left: 50%;
		margin-left: -200px;
	}
	
	.popup-lightbox.news .inner{
		width:99%;
	}
	
	.popup-lightbox.news p{
		height:80px;
		font-size:16px;
		line-height:22px;
	}
	
	.popup-lightbox.news input, .popup-lightbox.news button{
		margin-top:0px;
		font-size:14px;
}
	
		.popup-lightbox.news ul, .popup-lightbox.news img{
		display:none;
	}

	
}


@media only screen and (max-width: 426px) {
	
	.popup-lightbox.news p{
		height:65px;
		font-size:12px;
		line-height:18px;
	}
	
	.popup-lightbox.news input{
	width:60%;
	color:#898989;
	float:none;
	text-align:center;
	background-color:#dadadc;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.popup-lightbox.news .validation-advice{
	width:60%;
}

.popup-lightbox.news button{
	width:30%;
}
	
	
}

@media only screen and (max-width: 326px) {
	
	
	.popup-lightbox.news button{
		font-size:10px;
		overflow:hidden;
	}

	.popup-lightbox, .ajaxcartpro-box-show{
		left:0px !important;
		margin-left:0px !important;
	}
}