/* Variables */
@import (reference) "variables";

// Mixins

.primary-font {
	font-family: @primary-font;
	color: @primary-grey;
	font-weight: 400;
	text-rendering: optimizelegibility;
}

.heading-font {
	font-family: @heading-font;
	color: @dark-grey;
	text-transform: uppercase;
	text-rendering: optimizelegibility;
}

.handdrawn-font {
	font-family: @handdrawn-font;
	font-size: 28px;
	color: @dark-grey;
	text-rendering: optimizelegibility;
}

.handdrawn-font-arrow{
	.handdrawn-font; // MIXIN
	display: inline-block;
	padding: 0px 65px 0px 0px;
	background: url("../images/img/drawn-arrow-title.png") no-repeat scroll center right transparent;
}

.dropshadow {
	-webkit-box-shadow: 0px 0px 5px 0px @light-grey;
	-moz-box-shadow:    0px 0px 5px 0px @light-grey;
	box-shadow:         0px 0px 5px 0px @light-grey;
}