// Variables
@import (reference) "variables";

// Mixins
@import (reference) "mixins";

// Overrides
// Change the styling given to multiple objects

// Change objects to primary font

.feature .heading,
.accordion .heading,
.nav-regular .nav-item.level0 > a,
.nav-regular .nav-submenu--mega > li > a,
.mobnav-trigger,
.nav-mobile .nav-item.level0 > a,
.nav-mobile .nav-item.level1 > a,
.nav-mobile .nav-item.level2 > a,
.block .block-title,
#opc-login h3,
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2,
.product-view .box-reviews dt .heading,
.gen-tabs .tabs a,
.footer .heading,
#subscribe-form label,
.caption .heading
{
	font-family: @primary-font;

}

.main-font,
h1, h2, h3, h4, h5,
.section-title,
.products-list .product-name,
.products-grid .product-name,
h3.product-name,
.feature .heading,
.accordion .heading,
.nav-regular .nav-item.level0 > a,
.nav-regular .nav-submenu--mega > li > a,
.mobnav-trigger,
.nav-mobile .nav-item.level0 > a,
.nav-mobile .nav-item.level1 > a,
.nav-mobile .nav-item.level2 > a,
.block .block-title,
#opc-login h3,
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2,
.product-view .box-reviews dt .heading,
.gen-tabs .tabs a,
.footer .heading,
#subscribe-form label,
.caption .heading
{
	font-family: @primary-font;

}

.ib-hover.icon-color-productview:hover, .feature-icon-hover:hover .ib.icon-color-productview, .feature-icon-hover:hover span.icon.icon-color-productview{
	background-color: @primary-pink !important;
}

// Change headers to heading font

// Titles

.page-title h1,
.page-title h2,
.category-title,
.block .block-title{
	.heading-font; // MIXIN
}

// Price colors

.special-price .price, .special-price .price-label {
	color: @dark-grey !important;
}