// Imports
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);
@import url(//fonts.googleapis.com/css?family=Oswald);
@import url(//fonts.googleapis.com/css?family=Indie+Flower);
@import url(//fonts.googleapis.com/css?family=Amatic+SC:400,700);

// Colors
@primary-pink: #dd3c87;
@light-pink: #fdf4f8;
@primary-orange: #fe7628;
@primary-brown: #48221c;
@primary-turquoise: #2fa5a7;

@green: #3eaf2c;
@red: #ed1c24;

@primary-grey: #8e8e8e; // Primary font color
@middle-grey: #c4c4c4; // Middle font color
@dark-grey: #595959; // Heading font color
@light-grey: #eeeeee;
@extra-light-grey: #f8f8f8;

@black: #242323;
@white: #fff;

// Font
@primary-font: "Open Sans", sans-serif;
@heading-font: "Oswald", georgia, serif;
@handdrawn-font: "Indie Flower", cursive;
@kw-font: 'Amatic SC', cursive; 