/* Custom Wolplein Styling */

// Variables
@import (reference) "variables";

// Mixins 
@import (reference) "mixins";

// Overrides
@import "overrides";

// Globals

body {
	.primary-font; // MIXIN
	background-color: @white;
}

h1{
	.heading-font; // MIXIN
	font-size: 2em;
}

h4{
	.heading-font; // MIXIN
	font-size: 1.5em;
}

h6{
	color: @primary-pink;
	font-size: 14px;
	font-weight:bold;
	margin:0px;
}


a{
	color: @dark-grey;
}

.button, input[type="submit"]{
	background-color: @light-grey;
	font-family: @heading-font;
	font-size: 15px;
	color: @dark-grey;

	&:hover, &:focus{
		color: @white;
		background-color: @primary-pink;
	}
}


		.main.container{
		
			min-height:536px;
		
			.newsletter{

				p{
					padding: 0px 20px 25px 0px;
					background: url("../images/img/drawn-arrow-small.png") no-repeat scroll right center transparent;
				}

				form{
					width: 100%;
					position: relative;
					display: block;

					input#newsletter{
						width: 100%;
						height: 40px;
						border: 1px solid @light-grey;
						box-sizing: border-box;
						padding: 12px;
						border-radius: 10px;
						font-style: italic;
						color: @primary-grey;
						.dropshadow; // MIXIN
					}

					button{
						position: absolute;
						z-index: 10;
						cursor: pointer;
						right: 0px;
						top: 0px;
						width: 40px;
						height: 40px;
						background-color: @light-grey;
						border: none;
						border-radius: 0 10px 10px 0;
						background: url("../images/img/button-arrow.png") no-repeat scroll center center @light-grey;
					}
				}
			}

			.sidebar .newsletter, .popup-lightbox .newsletter{

				p{
					padding: 0px 20px 25px 0px;
					background: url("../images/img/drawn-arrow-small.png") no-repeat scroll right center transparent;
				}

				form{
					width: 100%;
					position: relative;
					display: block;

					input#newsletter{
						width: 100%;
						height: 40px;
						border: 1px solid @light-grey;
						box-sizing: border-box;
						padding: 12px;
						border-radius: 10px;
						font-style: italic;
						color: @primary-grey;
						.dropshadow; // MIXIN
					}

					button{
						position: absolute;
						z-index: 10;
						cursor: pointer;
						right: 0px;
						top: 0px;
						width: 40px;
						height: 40px;
						background-color: @light-grey;
						border: none;
						border-radius: 0 10px 10px 0;
						background: url("../images/img/button-arrow.png") no-repeat scroll center center @light-grey;
					}
				}
			}
		}

// Sizes

.no-gutter.grid-col2-sidebar {
	width: 25%;
}

.no-gutter.grid-col2-main {
	width: 75%;
}

// Header

.header-primary{
	padding-top: 20px;
	padding-bottom: 20px;
}

	.webwinkelkeur{
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0); 
		margin-top:-143px;
	}

// Nav

.nav-regular {
	background-color: @primary-pink;

	.nav-item.level0 > a {
		font-size: 14px;
	}
}

// Topbar

.header-regular #header-nav{
	display:block !important;
}

.nav-mobile #header-nav{
	display:block !important;
}

.wrapper{
	border-top-color: @black;
    border-top-width: 0px;
}

// Pre header

.header-top{
	line-height: 32px;
}

.header-top-container{
	background-color: @black;

	ul{

		li{
			float: left;

			a{
				color: @white;
				padding: 0 0.9233em 0 0.6833em;
				background-image: url("../images/img/link-separator.png");
				background-position: right center;
				background-repeat: no-repeat;

				&:hover{
					color: @primary-pink;
				}
			}

			&:last-child a{
				background: none;
			}
		}
	}

	.item-right{

		a{
			width: 24px;
			height: 24px;
			display: inline-block;
			box-sizing: border-box;
			margin: 2px;

			img{
				margin-top:2px;
				max-width: 100%;
			}
		}
	}
}
	
// Toplinks

.top-links{

	.links{

		>li{

			&.first{

				> a{
					background-image: url("../images/img/link-separator.png");
				}
			}

			> a{
				padding: 0 0.9233em 0 0.6833em;
				background-position: right center;
				color: @primary-grey;

				&:hover{
					background-color: transparent;
					color: @dark-grey !important;
				}
			}
		}
	}
}

#header-search{
	clear: both;
	margin: 50px 0px 0px 0px;

	.form-search .input-text{
		min-width: 241px;
		float:right;
	}
}


// Sidebar

.sidebar{

	.slice{
		margin-bottom: 40px;

		h3{
			.heading-font; // MIXIN
			font-size:18px;
		}

		&.images{
			border: 1px solid @light-grey;
			box-sizing: border-box;
			display: inline-block;
			padding: 15px;
			border-radius: 10px;
			.dropshadow; // MIXIN

			a{
				display: block;
				margin: 15px 0px 0px 0px;

				&:first-child{
					margin: 0px;
				}
			}
			
		table{
		color:@dark-grey;
		line-height:180%;
		}
		
		
			
		td{width:190px; font-size:14px;}
		
		td.price{width:40px;}
			
		.price{
		font-weight:bold;
		color:@primary-pink;
		}
		
		a{
		font-size:14px;
		color:@primary-pink;
		}
			
			
		}

		&.service{

			ul{
				margin: 30px 0px 0px 0px;

				li{
					padding: 0px 0px 0px 50px;
					margin: 0px 0px 15px;
					position: relative;

					strong{
						display: block;
					}

					&:before{
						content: '';
						width: 36px;
						height: 36px;
						background-color: @primary-pink;
						border-radius: 50%;
						display: block;
						position: absolute;
						left: 0px;
						top: 0px;
					}

					&.send:before{
						background: url("../images/icons/send.png") no-repeat scroll center center @primary-pink;
					}

					&.safe:before{
						background: url("../images/icons/safe.png") no-repeat scroll center center @primary-pink;
					}

					&.retour:before{
						background: url("../images/icons/retour.png") no-repeat scroll center center @primary-pink;
					}

					&.paint:before{
						background: url("../images/icons/paint.png") no-repeat scroll center center @primary-pink;
					}
				}
			}
		}	
	}

		.block-title
		{
			font-size:18px;
		}
}

.kw-header{
	
	margin-top:146px;
	width:100%;
	text-align: center !important;
	
	h1{
	font-family:@kw-font  !important;
	color:#97d3d3 !important;
	font-size:34px !important;
	letter-spacing:1px;
	text-transform: uppercase;
	font-weight:bold;
	}
	
	img{
	margin-top:-130px;
	}
}

// Homepage

.the-slideshow-wrapper-outer{
	margin-bottom: 50px;
}

#blog-overview{
	width: 48%;
	float: left;
	
	.item{
		min-height:40px;
	}

	h3{
		.handdrawn-font-arrow; // MIXIN
		margin: 0px 0px 30px;
	}

	h2{
		.heading-font; // MIXIN
		font-size: 20px;
	}

	ul{

		li{
			margin: 0px 0px 30px;
			padding: 0px 0px 0px 75px;
			position: relative;

			.thumbnail{
				width: 55px;
				height: 55px;
				position: absolute;
				top: 0px;
				left: 0px;

				img{
					width: 100%;
					height: auto;
					border-radius: 10px;
				}
			}
		}
	}
}

#spotlight{
	width: 48%;
	float: right;

	h3{
		.handdrawn-font-arrow; // MIXIN
		margin: 0px 0px 30px;
	}

	a{
		display: block;
	}
}

#populair{

	h3{
		.handdrawn-font-arrow; // MIXIN
		margin: 0px 0px 30px;
	}
	

	ul{

		li{
			float: left;
			box-sizing: border-box;
			padding: 0px 10px;
			width: percentage(1/6);
			text-align: center;

			h4{
				font-size: 14px;
				margin: 10px 0px 0px 0px;
			}

			img{
				width: 100%;
				height: auto;
				border: 1px solid @light-grey;
			}
		}
	}
}

// Product sliders

.product-slider{
	float: left;
	width: 100%;

	h3.section-title{
		.handdrawn-font-arrow; // MIXIN
		padding: 0px 65px 0px 0px !important;
		border: none;
	}
}

// Brand sliders

.brand-slider{
		float: left;
	width: 100%;
	margin: 0px 0px 25px;
	h3.section-title{
		.handdrawn-font-arrow; // MIXIN
		padding: 0px 65px 0px 0px !important;
		border: none;
		clear:both;
	}
}

.brand-slider-wrapper img{
	filter: alpha(opacity=50) !important;
	-moz-opacity: 0.75 !important;
	-khtml-opacity: 0.75 !important;
	opacity: 0.75  !important;	
}	
	

// Product Grid

.products-grid, .products-list{

	.product-image{
	

		img{
			border: 1px solid @light-grey;
		}
	}
	

	.product-name{
		.heading-font; // MIXIN
	}

	.price-label, .configurable-price-from-label{
		display: none;
	}

	.price-box{
	
	margin: 0px 0px !important;
	
			span.price{
				.heading-font; // MIXIN
				color: @primary-grey;
				display: inline;
				margin: 0px 0px !important;
				.heading-font; // MIXIN
				color: @primary-grey;
				font-size:14px !important;
			}
	

		.special-price{
			color: @primary-grey !important;

			span{
				color: @primary-grey !important;
			}
		}

		.old-price{
			display: inline;
			margin: 0px 5px;
			opacity: 0.6;

			span{
				.heading-font; // MIXIN
				color: @primary-grey;
			}
		}
	}
	

	.sticker-wrapper.top-right .sticker.sale {
		background-color: @primary-orange !important; 
	}
	
	
	.sticker-wrapper.top-bottom{
		margin-right:62px;
		margin-top:-40px;
		position: relative;
		float: right !important;
	}
	
	.sticker-wrapper.top-bottom .labelsticker, .sticker-wrapper.top-bottom .label{
		position:absolute;
	}
	
	.sticker-wrapper.top-bottom .labelsticker{
		border-radius:0 !important;
		background: transparent;
		padding: 8px;
		color: #fff !important;
	}
	

	.labelsticker{
		width: 60px;
		font-size: 1.1666em;
		line-height: 1em;
		font-weight: bold;
		text-align: center;
		
	}
	
	.sticker-wrapper.top-bottom .label {
		width: 0px;
		height: 0px;
		background: transparent;
		border-left: 6px solid transparent;
		border-top: 14px solid @primary-pink;
		border-right: 60px solid @primary-pink;
		border-bottom: 14px solid @primary-pink;
		border-radius:0 !important;
	}

	
	
	.addto-links-icons.addto-onimage {
		float: left;
		padding-left: 4px;
	}
	
	
	.item-left{
		width:50%;
		float:left;
		text-align:left;
	}
	
	bottom{
	margin-left:2px;
	float:right;
	height:50px;
	}
	
	input{
		margin-top:1px;
		text-align:center;
	}
	
	input, button{
		width:20% !important;
		min-width:20% !important;
		height:50px;
	}

}


.products-grid{
	.price-box{
				span.price{
					font-size: 1.4em;
				}
			}
}

.products-grid, .products-list, .product-view{

.msrp-price .msrp-price {
	  position: relative;
	  font-family: Oswald,georgia,serif;
	  font-size:14px !important;
	}
	
	.msrp-price .msrp-price:before {
	  position: absolute;
	  content: "";
	  left: 0;
	  top: 50%;
	  right: 0;
	  border-top: 1px solid;
	  border-color: inherit;

	  -webkit-transform:rotate(-12deg);
	  -moz-transform:rotate(-12deg);
	  -ms-transform:rotate(-12deg);
	  -o-transform:rotate(-12deg);
	  transform:rotate(-12deg);
	}
}

// Event List

.event-list{

	.label{
		height:107px;
		width:112px;
		background: url("../images/event-label.png");
		position:absolute;
		margin-left:-40px;
		margin-top:-40px;
		padding-top:15px;
		z-index:999;
		
		.date{
			color:@white;
			font-size:14px;
			text-align:center;
			line-height:110%;
			}
			
		.number{
			font-family:@heading-font;
			font-size:42px;
			}
		}
	
	.ribbon_banner{
		font-family:@heading-font;
	   display: block;
	   position: absolute;
	   top:65px;
	   left: -34px;
	   width:243px;
	   height:44px;
	   line-height:40px;
	   text-align: center;
	   -webkit-transform: rotate(-45deg);
	   -moz-transform:    rotate(-45deg);
	   -ms-transform:     rotate(-45deg);
	   transform:         rotate(-45deg);
	   font-size: 24px;
	   font-weight: 700;
	   color: @primary-pink;
	   background-color:@white;
	   z-index: 9999;
   }
	
	h2 a{
		font-size:30px;
		line-height:120%;
	}

	
	.product-image-wrapper{
		margin-top:30px;
	}
}

// Shopping Cart

.cart-table{
    .notice-preorder{color:#3eaf2c!important;}
}

.acp-msg-block{
    .msg-pre-order-title{
        font-size: 18px;
        font-family: Oswald,georgia,serif;
        font-weight: bold;
        margin-top: 5px;
    }
    .msg-pre-order-content {
        font-size: 16px;
        font-family: Oswald,georgia,serif;
        font-weight: normal;
        margin: 15px 5px;
		line-height: 25px;
    }
}

.acp-msg-block{
    .msg-out-stock-title{
        font-size: 14px;
        font-family: Oswald,georgia,serif;
        font-weight: bold;
        margin-top: 5px;
        color: #ed1c24;
    }
    .msg-out-stock-content {
        font-size: 14px;
        font-family: Oswald,georgia,serif;
        font-weight: normal;
        margin: 10px 5px 10px 5px;
    }
}


// Product view

.product-image{
	border: none !important;
}

.product-view{

	.product-name.primary{
		margin: 0px 0px 5px 0px;

		.swatchname{
			font-size: 20px;
			color: @primary-grey;
		}
	}

	.product-category-name{

		h2{
			.heading-font; // MIXIN
			font-size: 16px;
			color: @primary-grey;
			text-transform: none;
		}
	}
	
	.barcode{
		margin-top:-5px;
		margin-bottom:-5px;
	}


	hr{
		display: inline-block;
		border: 0;
		width: 25px;
		margin: 10px 0px 5px;
		padding: 0;
		height: 0;
		border-top: 3px solid @primary-pink;
	}

	.short-description{
		line-height: 1.5em;
	}

	.add-to-cart{
		float: right;

		.qty-wrapper .qty{
			height: 54px;
			font-size: 15px;
			margin-bottom:10px;
		}
	}

	.btn-cart, .btn-checkout{
		background-color: @primary-orange;
		font-family: @heading-font;
		font-size: 1.4em;
		margin:1px 0 10px 0;
		height: 54px;
		width: auto !important;
		float:right;

		&:hover{
			background-color: @primary-pink;
		}
	}
	
	.the-cart-form{
		a{cursor:pointer !important;}
		a.left{float:left;}
		a.right{float:right;}
	}

	.product-type-data{
		float: left;
		width: 100%;

		.availability{
			float: left;
			width: 100%;
		}

		.price-box{
			display: inline-block;
			float: left;

			margin-right:10px;


			.price{
				.heading-font; // MIXIN
				font-size: 25px;
			}
			
			.price-as-configured .price{
			 line-height: 220%;
			 font-size: 22px;
			}

			.old-price, .special-price, .price-box-bundle{
				display: inline;
				margin: 0px 5px;

				span{
					.heading-font; // MIXIN
					font-size: 25px !important;

					&.price-label{
						display: none;
					}
				}
			}

			.old-price{
				opacity: 0.6;

				span{
					font-size: 20px !important;
				}
			}

			span.configurable-price-from-label{
				display: none;
			}
		}
	}

	.add-to-box{
		float: right;
		display: inline-block;
	}

	.promotekst{
		.heading-font; // MIXIN
		line-height: 22px;
		color: @primary-grey;
		text-transform: none;
		font-size: 16px;
		padding: 5px 0px 5px 15px;
		border-left: 3px solid @primary-pink;
	}

	a.more-info{
		padding: 0px 0px 0px 20px;
		margin: 25px 0px 0px 0px;
		color: @primary-grey;
		display: block;
		position: relative;
		text-decoration: underline;

		&:hover{
			color: @primary-pink;
		}

		&:before{
			content: '';
			display: block;
			width: 10px;
			height: 20px;
			position: absolute;
			top: -2px;
			left: 0px;
			background: url("../images/info-icon.png") no-repeat scroll 0 0 transparent;
		}
	}

	.add-to-links li{
		float: left !important;
	}

	.product-type-data{
		margin: 0px;

		>.price-box{
			border: none;
		}
	}

	.product-options p.required{
		top: 0px;
		display: none;
	}

	.container1-wrapper, .container2-wrapper, .add-to-box{
		border: none;
		margin: 0px;
		padding: 0px;
	}

	.container1-wrapper{
		padding: 15px 0px 10px 0px;
		margin: 15px 0px 0px 0px;


		.product-options{
			margin: 0px;
		}
	}

	.action-box{
		padding: 15px 0px 0px 0px !important;
		margin: 15px 0px 10px;
		padding: 0px;
		clear: both;

		li{
			float: right !important;
		}
	}

	.box-additional{

		h3.section-title{
			.handdrawn-font-arrow; // MIXIN
			border: none;
		}
	}
	
	.sticker-wrapper.top-right{
		top:358px;
		margin-left:-91px;
		right:auto;
	}
	
	.sticker-wrapper.top-right .sticker.sale {
		background-color: @primary-pink !important; 
	}
	
	.sticker-wrapper.top-bottom {
		margin-top:-81px;
	}
	
	.sticker-wrapper.top-bottom .labelsticker{
		border-radius:0 !important;
		background: transparent;
		padding: 8px;
		height:28px !important;
		position:absolute;
		margin-top: -59px;
		color: #fff !important;
	}

	.labelsticker {
		width: 60px;
		font-size: 1.1666em;
		line-height: 1em;
		font-weight: bold;
		text-align: center;
	}
	
	.sticker-wrapper.top-bottom .label {
		width: 0px;
		height: 0px;
		margin-bottom:30px;
		background: transparent;
		border-left: 80px solid @primary-pink;
		border-top: 14px solid @primary-pink;
		border-right: 6px solid transparent;
		border-bottom: 14px solid @primary-pink;
		border-radius:0 !important;
	}
	
	.product-shop {
	 
	 width: 30%;
	 float: left;

		&simple {
			width: 60%;
			text-align:justify;
		}

		.infobox{
			border-top:1px solid #f7f7f7;
			padding-top:20px;
			margin-right:40px;

			.attr{
				float:left;
			}

			.attr.label{
					clear:both;
					width:50%;
			}
		}
	}
	
	.product-icons {
		background-color: @light-grey;
		width:30%;
		text-align:right;
		text-align: left;
		padding: 10px;
		margin-top:10px;
		float:right;
	}

	 .product-icons img{
		 position:relative;
		 float:right;
	 }

	.product-icons li{
		margin-top:15px;
		font-size: 12px !important;
		margin-right:30px;
			 
	}

	.product-icons .h{
		border-bottom:1px solid #b5b5b5;
		color:@primary-pink;
		font-weight:bold;
		font-size:12px;
	}
	
	.product-img-column {
		width:30% !important;
	}
	
	
	
	
	
}

	.social-likes{
		margin: 20px 0px 20px 0px;

		h3{
			.heading-font; // MIXIN
			font-size: 16px;
			color: @dark-grey;

		}

		li{
			float: left;
			margin: 0px 10px 10px 0px;
		}
	}

.discount-info {
	color: @green;
	font-weight:700;
	text-align: right;
}

.colorswatch, .prodinfo, .box-collateral, .benodigdheden .block-custom{
	float: left;
	width: 100%;
	margin:0px 0px 40px 0px;

	h3{
		.heading-font; // MIXIN
		width: 100%;
		margin: 0px 0px 20px 0px;
		box-sizing: border-box;
		background-color: @light-grey;
		padding: 15px;
		display: block;

	}
	
		#anchor{
			position:absolute;
			margin-top:-100px;
		}
		
		
		.bundlediscount-info{
			border:none;
			min-width:150px;
		}
		
		.bundlediscount-selections {
			min-width:120px;
		}
		
		.bundlediscount-lists{
			border:none;
		}
		
		.bundlediscount-selections-plus{
			margin-bottom:87px  !important;
		}
		
		.bundlediscount-selections-img{
				margin-bottom:45px  !important;
		}
		
		.box-content{
		margin:0 0 0 15px;
			h4{
			font-size: 1.3333em;
			}
		}
}

.promotions-div{
	box-shadow:none !important;
	margin-left:-20px;
	
	.b-close{
		background-color:#000 !important;
		border-radius: 18px 18px 18px 18px;
		padding: 4px 8px 4px 8px;
		background-position: 50% 50%;
		z-index:0;
		border: solid 2px #fff;
		margin-top:-7px;
		margin-right:-7px;
	}
	
	.b-close:hover{
	background-color:#e13c89 !important;
	}
	
	.configure-me-popup{
		overflow:visible !important;
	}
	
	.configure-me-popup-head{
		margin-bottom:20px;
	}
	
	h3{
		font-size: 1.1666em;
		margin-top:10px;
		font-family:@heading-font;
		color:@dark-grey;
	}
	.price-box{text-align:center !important;}
}



.benodigdheden{
		float: none !important;
}

.colorswatch{

	.color-holder{
		margin: 0px 0px 0px -8px;
	}

	.swatch{
		float: left;
		width: percentage(1/9);
		box-sizing: border-box;
		padding: 0px 0px 8px 8px;
		
		 img{
				width: 100%;
				height: auto;
				box-sizing: inherit;
				border: 1px solid @light-grey;
				cursor:pointer;
				
				&:hover{
				border: 1px solid @primary-grey;
			}
		}
	}
		
	.swatch.select{
		img{
			border: 1px solid @primary-grey;
		}
	}
}

.prodinfo{

	.info{
		width: 45%;
		float: left;
		
		margin-left:10px;

		ul{
			line-height: 25px;

			li{
				padding: 0px 0px 0px 15px;
				background: url("../images/img/link-separator.png") no-repeat scroll left center transparent;
			}
		}
	}

	.icons{
		width: 50%;
		float: left;

		ul{

			li{
				margin: 0px 0px 10px 0px;
				padding: 0px 0px 0px 50px;
				box-sizing: border-box;
				width: 50%;
				float: left;
				display: table;
				position: relative;

				img{
					position: absolute;
					left: 0px;
					top: 0px;
				}

				span{
					height: 40px;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}
	
	.std{
	margin:0 0 20px 0;
	}
}

.totals-inner{
	.btn-proceed-checkout{background-color: @primary-orange !important; color:@white; }
	.btn-proceed-checkout:hover{background-color: @primary-pink  !important; color:@white; }
}

.availability{

	&.in-stock span{
		color: @green;
	}

	&.out-of-stock span{
		color: @red;
	}
}

// Owl slider

.slider-arrows3{

	.owl-controls.clickable .owl-buttons div{
		color: @primary-grey;

		&:hover{
			background-color: transparent;
			color: @dark-grey;
		}
	}
}

.slider-arrows1-pos-top-right .owl-controls .owl-buttons{
	top: auto;
	bottom: 0px;
}

// Statische pagina's
// Leren Breien/Haken
.leren-grid{
	margin-right:1.92%;
	float:left;
	margin-bottom:2%;
}

	//Aanmelden nieuwsbrief pagina
.nieuwsbrief_aanmelden{
	float:left;
	margin-right:1.5%;
	margin-bottom:2%;
}
#subscribe-form .input-text{
	width:200%;
	float:left;
}

.btnNieuwsbrief{
	float:left;
	margin-top:2%;
}

.logo-wrapper{

	width:400px;

	h1, span{
	clear: both;
	color:@dark-grey;
	font-family:@handdrawn-font;
	font-size:21px;
	text-transform:none;
	margin:0px;
	}
	
	img{max-width:350px;}
}

.checkoutcontainer{

	.onestepcheckout-place-order-wrapper button, .onestepcheckout-giftcards button, .onestepcheckout-coupons button {

			color:#fff;
			text-decoration:none !important;
			
			font-family: @heading-font;
			margin: 0px !important;
			padding: 3px !important;
			width: auto !important;
			border:0px;
			cursor:pointer;
			
			&:hover{
				background-color: @primary-pink;
			}
	}

	.onestepcheckout-giftcards, .onestepcheckout-coupons{
		margin-top:20px;
		
		input{
		margin-bottom: 0px !important;
		width: 110px !important;
		}
		
		button{
			font-size: 14px;
			height:35px;
			background-color: @primary-grey;
		}
	}
	
	.onestepcheckout-place-order-wrapper{
	
		button{
			background-color: @primary-orange;
			min-width: 200px;
			height:55px;
			font-size: 1.4em;
		}
		
		button.orange{
			background-color: @primary-orange;
		}
		
		button.grey{
			background-color: @primary-grey;
		}
	}
}

.enter-gift-card-number .content{
	margin-bottom:20px;
	
		input[type="submit"]{
		color:#fff;
		background-color:@dark-grey;
		text-decoration:none !important;		
		font-family: @heading-font;
		margin: 0px !important;
		padding: 3px !important;
		width: auto !important;
		border:0px;
		cursor:pointer;
	}
}

//aanmelden nieuwsbrief
.newsletterpage {

	img{
		float: left;
		margin:0 20px 20px 0;
	}

	.form {
		float: left;
		width: 380px;
		font-size: 16px;
		color: #595959;
	} 

	.input-text{
	width: 380px !important;
	}

}

//blog

.post-view
{

	li{
		margin-left: 0;
		padding-left: 0;
		padding-left: 15px;
		background-image: url("../images/li.gif");
		background-repeat: no-repeat;
		background-position: 0 .5em;
	}
}

.post-view, .post-list, .wp-sidebar, .comments-wrapper{

	hr{
		border:0px;
		background-color:@primary-pink;
		height:1px;
	}

	.comments-cloud{
		height:45px;
		width:58px;
		background-image: url("../images/comments-cloud.gif");
		color:@dark-grey;
		font-family:@heading-font;
		font-size:22px;
		padding-top:13px;
		margin-bottom:-15px;
		text-align:center;
		float:right;
	}
	
	a
	{
		color:@primary-pink !important; 
	}
	
	h2, h2 a, .legend
	{
		font-size:18px;
		color:@dark-grey !important; 
		font-family:@heading-font;
	}
	
	.post-info{
		li
		{	margin-left: 0;
			padding-left: 0;
			padding-left:20px;
			height:30px;
			float:left;
			background-repeat: no-repeat;
			background-position: 0 .1em;
			margin-right:30px;
		}
		
		.date{background-image: url("../images/date.gif");}
		.author{background-image: url("../images/author.gif");}
		.tags{background-image: url("../images/tags.gif");}
		.comments{background-image: url("../images/comments.gif");}
	
	}
	
	.post-entry{
		clear: both;
			ul{
			list-style-type: none !important;
			margin-left:20px;
		}
		
			button{
		float:left;
		margin-top:10px;
	}
		
	}
	
	span.comment-url{
		font-weight:bold;
	}
	
	.comment-inner p{
		margin-bottom:10px;
	}
	
	.newsletter
	{
		h3{
		font-family:@heading-font;
		}
		
		font-size:14px;
		background-color:@primary-pink;
		color:@white;
		padding:30px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

}

.product-img-column{

	margin-right:20px;

	.more-images
	{
		svg{
			width:45px;
			height:45px;
			fill:@primary-pink;
			margin:10px;
		}
		
		.item:hover{
		
			svg, a:hover{
				fill:@dark-grey;
				color:@dark-grey;
			}
			
		}
		
		.text{
			margin-top:-17.3px;
		}
		
		path{
		color:@primary-pink;
		}
	}
}

.comments-wrapper{ 

		.comment-list.children{
		margin-top:0px;
	}
	
	.comment-avatar, .comment-inner {
			margin-top:10px;
		
		
		}
	
	.comment-avatar{
		float:left;
		width:75px;
		height:75px;
		background-image: url("../images/cloud.png");
		background-color: #c4c4c4;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		background-position: center; 
		background-repeat:no-repeat;
	}
	
	h2{
		text-transform: uppercase;
		font-size:40px;
		font-weight:100 !important;
		font:@heading-font !important;
	}
	
	.comment-avatar.admin{
		float:right;
		background-image: url("../images/admin.png");
		background-color: @primary-pink;
	}

	.comment-inner{
		padding:8px;
		margin-left:83px;
		margin-right:58px;
		min-height:75px;
		border: 1px solid #e5e5e5;
		
		margin-top:8px;
		border:none;
		border-bottom: 1px solid #e5e5e5!important;
		
		.comment-url{
			color: @primary-pink;
			text-transform: uppercase;
			font-size:18px;
			font-weight:normal;
		}
		
		.comment-entry{
		margin-top:15px;
		}
		
	}
	
	.comment-inner.admin{
		background-color:#fceff6;
	}

	ul.children{
		margin-left:25px;
		
		.children{
		margin-left:0px;
		}
		
		.comment-avatar{
		margin-left:25px;
			width:50px;
			height:50px;
			background-size: 35px 30px;
			-webkit-border-radius: 3px;
			-moz-border-radius:3px;
			border-radius: 3px;
		}
		
		.comment-avatar.admin{
		background-size: 35px 40px;
		}
		
		
		.comment-inner.admin{
			border-bottom:none !important;
		}
		
	}

	.newsletter{
		margin-top:20px;
	}
	
	div.more{
		float:right;
		margin-right:90px;
		margin-top:-27px;
		color: @primary-pink;
		cursor:pointer;
	}
}

.fieldset{
	.legend{
		color: @primary-pink;
		font-weight:30px;
		font-weight:bold;
	}
}

	.buttons-set{
		border-top:none;
		border-bottom: 1px solid #e5e5e5 !important;
		margin:0 0 25px 0;
		padding-bottom:20px;
	}

.blog-video, .blog-crew, .blog-contact{

	.item.video:hover{
			cursor:pointer;
			filter: alpha(opacity=70); /* internet explorer */
			-khtml-opacity: 0.7;      /* khtml, old safari */
			-moz-opacity: 0.7;       /* mozilla, netscape */
			opacity: 0.7;           /* fx, safari, opera */
	}

	.post-list{
	margin-left:30px;

		a:hover{
			text-decoration: underline;
		}	
	}
	
	.item{
		float:left;
		height:242px;
		overflow:hidden;
		width:22%;
		margin-left:4%;
		text-align:center;
		margin-bottom:20px;
		
		.play{
			position:relative;
		    background-repeat: no-repeat;
			background-position: center; 
		}
		
		.play.large{
			height:220px;
			background-image: url("../images/koffie-en-wol/play.png");
		}
		
		.play.small{
			height:180px;
			background-image: url("../images/koffie-en-wol/play-small.png");
		}
		
	}

	.item.populair{
		width:33%;
		margin-left:0.5%;
		height:340px;
		
		h2{
		color:#a2a2a2 !important;
		}
	}

	.item.crew{
		width:30%;
		margin-left:3%;
		height:520px;
		margin-bottom:40px;
		background-color:#97d3d3;
		-webkit-border-radius: 130px 130px 130px 130px;
		border-radius: 130px 130px 130px 130px;
		color:@white  !important;
		font-size:14px;
		box-sizing: border-box;
		padding:2%;
		
		
		img{
			-webkit-border-radius: 50% 50% 50% 50%;
			border-radius: 50% 50% 50% 50%;
			box-sizing: border-box;
		}
		
		
		h2{
			text-transform: uppercase;
			font-size:36px;
			font-family:@kw-font;
			font-weight:bold;
			margin:5px 15% 5px 15%;
			color:@white  !important;
			letter-spacing:3px;
			border-bottom: 1px solid currentColor; /* Or whatever color you want */
		}

	}

	.item.populair h2 a{
		color:#a2a2a2 !important;
	}

	.item.populair .img{
		width:300px;
		height:220px;
		background-position:0 -45px; 
		margin-bottom:38px !important;
	}


	.img{
		height:180px;
		width:200px;
		margin-bottom:18px;
	}

	.item.first{
		margin-left:0px;
	}

	.post-list {
		margin-left: 0px !important;
	}

	.pager{
		clear:both;
	}

	.info-box{
		width:100%;
		float:left;
		text-align:center;
		background-image: url("../images/koffie-en-wol/bg-overzicht.png");
		background-repeat:no-repeat;
		margin-bottom:55px;
		background-color:#c3e5e6;
		background-position:bottom; 
		
		h2{
			color:@white  !important;
			text-decoration: none;
			text-transform: uppercase;
			font-family:@heading-font;
			font-size:48px;
			border-bottom: 1px solid currentColor;
			margin:50px 300px 50px 300px;
		}
	}
	
	.info-box.contact{
		background-image: url("../images/koffie-en-wol/bg-overzicht-flip.png");
		background-position:top;
		margin-bottom:185px;		
		
		h2{
			margin:90px 105px 90px 105px;
			font-size:28px;
			
			span{
			color:@primary-turquoise !important;
			}
		}
		
		.phone-mail{
			margin-left:50%;
			float:left;
		}

		.phone, .mail{
			float:left;
			height:72px;
			width:180px;
			position:absolute;
			margin-top:-65px;
			margin-left:40px;
			margin-right:40px;
			color:@white;
			font-family:@heading-font;
			font-size:18px;
			padding-top:110px;
			line-height: 25px;
		}

		.phone{
			background-image: url("../images/koffie-en-wol/phone.png");
			margin-left:-180px;
		}
		
		.mail{
			background-image: url("../images/koffie-en-wol/mail.png");
		}
	
	}

}

.blog-contact{
	border-bottom: 1px solid currentColor;
	padding-bottom: 50px;
	color:@primary-turquoise !important;
	
	.instagram-facebook{
			float:right;
			margin-bottom:100px;
			
	
		h3{
			color:#a4d0d1;
			font-family:@kw-font;
			font-weight:bold;
			font-size:36px;
			float:left;
			margin-top:7px;
			text-transform: uppercase;
			letter-spacing:5px;
			}

		
			.instagram, .facebook{
				width:80px;
				height:70px;
				float:left;
				margin-top:-12px;
				position:relative;
				margin-left:50px;
			}
			
			.instagram{
				background-image: url("../images/koffie-en-wol/instagram.png");
			}
			
			.facebook{
				background-image: url("../images/koffie-en-wol/facebook.png");
				margin-right:170px;
			}
		}
	
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.over-ons-container{
	ul.over-ons-container{
	margin-top:30px;
	}
	
	.over-ons{
		float:left;
		margin-right:2.99%;
		text-align:center;
		margin-bottom:2%;
	list-style-type: none;
	}
	/*Circle image*/
	.round {
		border-radius: 50%;
		overflow: hidden;
		width: 200px;
		height: 200px;
	 }

	.round img {
		display: block;
		 /* Stretch 
		height: 100%;
		width: 100%; */
		min-width: 100%;
		min-height: 100%;
	}

	/* flip speed goes here */
	.flipper {
		transition: 0.6s;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		position: relative;
	}

	/* entire container, keeps perspective */
	.flip-container {
		perspective: 1000;
		-webkit-perspective:1000;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
	}
		/*  UPDATED! flip the pane when hovered */
		.flip-container:hover .back {
			transform: rotateY(0deg);
			-webkit-transform: rotateY(0deg);
		}
		.flip-container:hover .front {
			transform: rotateY(180deg);
			-webkit-transform:rotateY(180deg);
		}

	.flip-container, .front, .back {
		width: 200px;
		height: 200px;
	}

	/* hide back of pane during swap */
	.front, .back {
		backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
		transition: 0.6s;
		transform-style: preserve-3d;

		position: absolute;
		top: 0;
		left: 0;
	}

	/*  UPDATED! front pane, placed above back */
	.front {
		z-index: 2;
		transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
	}

	/* back, initially hidden pane */
	.back {
		transform: rotateY(-180deg);
		-webkit-transform: rotateY(-180deg);
		border: 2px solid #DD3C87;
	}

	.back span{
		width:100%;
		top:60px;
		left:0px;
		position:absolute;
	}
}

.inspiratie.box{
	border-style: solid;
	border-width:2px 0;
	color:#fdf3f7;
	margin:25px 0 0 0;
	padding:24px 0;
	height:187px;

	div{
		width:33.33%;
		float:left;
		text-align:center;
		
		img{
			margin:auto;
		}
	}
}

.inspiratie.contact{
	margin-bottom:20px;
}

	.openingstijd {
		margin-top:20px !important;
	}
	


.inspiratie.sfeer{

	border-style: solid;
	border-width:1px 0;
	color:#fdf3f7;
	
	padding:60px 0 15px 0;
	
	img.first, img.last{
	width:49.4%;
	margin-bottom:15px;
	}
	
	img.first{
		float:left;
	}


	img.last{
		float:right;
		}
}

.contact-box-a, .contact-box-c, .contact-box-b, .contact-box-d, .contact-box-e, .contact-box-f{

	a{
		color:@primary-pink;
		font-weight:bold  !important;
		text-decoration:underline !important;
	}
	
	h4{
		    font-size: 20px;
	}
	
	float:left;
	width:100%;
	
	padding-top:15px;
	padding-bottom:45px;
	
	h5{
		color:@primary-pink;
		font-size:18px;
		font-weight:bold;
	}

	.cirkel{
		border-radius: 50%;
		width: 160px;
		height: 110px; 
		background-color:@primary-pink;
		vertical-align:center;
		position:relative;
		left:50%;
		margin-left:-80px !important;
		color:@white;
		text-align:center;
		vertical-align:middle !important;
		font-size:20px;
		padding-top:50px;
		line-height:120%;
	}
	
	.cirkel:hover{
			 /* IE 8 */
		  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

		  /* IE 5-7 */
		  filter: alpha(opacity=50);

		  /* Netscape */
		  -moz-opacity: 0.5;

		  /* Safari 1.x */
		  -khtml-opacity: 0.5;

		  /* Good browsers */
		  opacity: 0.5;
	}
	
}

.contact-box-a, .contact-box-c, .contact-box-d, .contact-box-e, .contact-box-f.contact {
	border-style: solid;
	border-width:1px 0 0 0;
	border-color:@light-pink;
}

.contact-box-a, .contact-box-c{
	div{
		width:33.33%;
		float:left;
	}
			&.klantenservice{
			a{
				font-weight:normal  !important;
			}
		}
	
}

.contact-box-b{

	background-color:@light-pink;
	padding:15px 1%;
	width: 98%   !important;
	
	.a, .b{
		width:60%;
		
		div, div div{
			float:left;
			width:50%;
		}
	}
	
	.c{
		clear:both;
		padding-top:10px;
	}
	
	strong{
		color:@primary-pink;
	}
	
}

.contact-box-c{
	.b{
	
		padding-top:34px;
	
			div, div div{
			float:left;
			width:34%;
		}
	}
}

.contact-box-d{

	div{
		float:left;
		
		margin-right: 117px;
		margin-top:30px;
		font-size:16px;
	}
	
	a{
		text-decoration:underline;
		font-weight:bold;
	}

}

.contact-box-e{

	div{
		float:right;
		width:33.33%;
	}
	
	img{
		margin-top:-35px;
		position:absolute;
	}
}

.contact-box-f{


	.ldot{
		border-radius: 50%;
		width: 22px;
		height: 20px;
		background-color:@primary-pink;
		float:left;
		color:@white;
		text-align:center;
		margin-right:6px;
		padding-top:2px;

	}
	
	.ltext{
		border-style: solid;
		border-width:0 0 1px 0;
		border-color:#f6f6f6;
		margin-left:40px !important;
		margin-top:10px;
	}
	
	.lcont{
		padding:10px 40px;
	}
	
	a{
	color:@primary-grey;
	}
	
}

/* Content Columns */
.col2-set {
  width: 100%;
}
.col2-set .col-1,
.col2-set .col-2 {
  width: 49%;
}

.col2-set .box-content .col-2 {
padding-left:20px;
}

.col-2.new-users, .col-1.registered-users{
	  width:49%;
	  min-height:310px;
	  padding:20px;
}


.col-2.new-users h2, .col-1.registered-users h2{
	  color:#fff !important;
	  
}

.col-1.registered-users li{
	list-style: none;
}

.my-account{

	h2{
		font-size:24px;
		font-family:@heading-font !important;
		color:@dark-grey;
		text-transform: uppercase;
	}
	
	h3{
		font-size:14px;
	}

}

.account-update, .opc{

	.fields, .account-create .fields{
		clear:both;
	}
	
	
	.housenumber{
		width: 22.45% !important;
		float:left;
	}
	
	.form-list input.input-text {
		width: 90%;
	}
	

	
	
	
	

	label{
		background-color:#fff !important;
	}

	input[type=checkbox]{
		width:5% !important;
	}

	.field, .address_field{
		float:left !important;
		width:47.4% !important;
	}

	.number_field{
		float:left !important;
		width:18.95% !important;
	}
}

.validation-advice{
	clear:both !important;
}

.account-create{

	 select, .account-create input, .account-create button, .col-2.new-users input, .col-1.registered-users input, .col-2.new-users button, .col-1.registered-users button{
		height:50px;
		width:100% !important;
		float:left;
		border: 0px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
		border-bottom-left-radius:5px;
	}

	select{
		height:30px;
	}

	button, .col-2.new-users button, .col-1.registered-users button{
		background-color:#fff;
		color:#000;
		font-size:16px;
	}

	.fieldset-container{
		background-color:@middle-grey;
		color:#fff;	
		padding:20px;
	}
	
	.form-instructions{
		text-align:right;
	}
	
	.field, .address_field {
    float: left !important;
    width: 50% !important;
}

input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text], select {
    width: 90%  !important;
}

.number_field {
    float: left !important;
    width: 18.95% !important;
}

.buttons-set button.button, .buttons-set button.button:hover{
	background-color:@primary-orange !important;
	color:#fff !important;
	float:left  !important;
	margin-left: 0px !important;
}



}

.col-2{

	&.new-users button{
			margin-left:5% !important;
			height:50px !important;
			height:80px !important;
	 }

	&.new-users .buttons-set, .col-1.registered-users button{
		width:50% !important;
	}

	&.new-users .buttons-set{
		
		margin:auto;
	}

	&.new-users{
		background-color:@primary-pink;	
		margin-left:1%;
		text-align:center;
	}
	
		button.button {
	  width:100% !important;
	}
	
}


.col-1{

	&.registered-users h2{
		color:@dark-grey !important;
	}

	&.registered-users{
		background-color:@light-grey;
		margin-right:1%;
	}
	
		input.input-text{
		width:100% !important;
	}
	
	button.button {
	  width:40% !important;
	}

}

.col-main{
	 .protoshow img{
		width:100%;
	}
	
	.protoshow{
		margin-bottom:14px;
	}
	
	.collage{
		float:left;
		width:101%;
	}
	
	.collage img{
	  float:left;
	  margin-bottom:14px;
	  margin-right:1%;
	}
	
	.std .content{
		padding:80px 0;
		margin-bottom:14px;
	}
	
	.category-title h1, .col-main .page-title h1 {
		margin-top:3px;
		color:#636363;
	}
	
	
	.std .content h1{
		background-image: url("../images/logo_flower.png");
		background-repeat:no-repeat;
		background-position:center top;
		color:#fff !important;
		border-bottom:1px solid;
		width:50% !important;
		text-align:center;
		margin:auto;
		padding-top:60px;
		font-size:32px;
	}

	.serrated{
		background-image: url("../images/serrated.png");
		height:11px;
		margin-top:-6px;
	}
}
	
.catalog-category-view {
		.category-img img, .catalog-category-view .category-img .serrated{
		margin-left:-35%;
		overflow:hidden;
	}

		.col-left-first{
		margin-top: 352px;
	}
}

/* -------------------------------------------- *
 * Button Sets
 */
.buttons-set {
  clear: both;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
  text-align: right;
}

.account-create .buttons-set {
  border-bottom: 0;
}

.account-create a{
	color:#fff;
}



.buttons-set{
	p.required {
	  margin: 0;
	  margin-left: 10px;
	  line-height: 33px;
	  float: right;
	}

	.back-link {
	  float: left;
	  margin: 0;
	  line-height: 33px;
	}

	a:not(.button) {
	  line-height: 20px;
	  display: inline-block;
	  padding: 5px;
	  float: left !important;
	  width:40%;
	  
	}

	button.button {
	  float: right !important;
	  margin-left: 5px !important;
	  min-width: 140px !important;
	  background-color:@white;
	}
	
	button.button:hover {
	     background-color:@white  !important;
		opacity: 0.9;
		color:@dark-grey !important;
	}

	&:after {
	  content: '';
	  display: table;
	  clear: both;
	}
}

/* -------------------------------------------- *
 * Product Image
 */
.product-image,
.no-touch .product-img-box .product-image:not(.zoom-available):hover {
  position: relative;
  display: block;
  border: 1px solid #ededed;
}

@media only screen and (max-width: 770px) {
  body .product-img-box .product-image:hover {
    border-color: #ededed;
  }
}
.no-touch .product-image:hover {
  border-color: #799da4;
}


// Footer

.footer-container{

	.footer-block{
	
		float: left;
		line-height: 20px;
		padding: 0 30px 0 0;
		margin:50px 0 0 0;

		h6{
			.heading-font; // MIXIN
			margin: 0 0 25px;
			text-transform: none;
			font-size: 20px;
			color: #fff;
			height:40px;
			line-height:140%;
			font-weight:normal;

			a{
				color: #fff;

				&:hover{
					color: @primary-pink;
				}
			}
		}

		a{
			color: @primary-grey;
			text-decoration:underline;

			&:hover{
				color: @primary-pink;
			}
		}
		
		.day{
			float:left;
			width:40px;
			bachgound-color:#ccc;
		}
	}
	
	
		h3{
			font-family:@handdrawn-font;
			color:@white;
			font-size:26px;
		}
	
	.socials{
	
	width:450px;
	
		float:right;
	
			margin: 20px 0px 0px 0px;
			
			
			.social{
				padding: 0px 14px 10px 0;
			}

			a{
				
				display: inline-block;

				&.keurmerk{
					display: block;
					padding: 0 0 10px 0;
				}
				line-height: 10px;
			}
			
			.keurmerk{
			
			}
			
			.border{
				width:1px;
				height:24px;
				background-color:@white;
				float:left;
				margin:5px 14px 0 0;
			}
			
		}
		
	.newsletter{
	
		h3{
		margin: 50px 0 5px 0;
		}
	
		width:450px;
		float:right;
		
		input#newsletter, button{
			border:none;
			height:45px;
			margin-top:10px;
		}
		
		input#newsletter{

			background-color:@primary-grey;
			color:@white;
			padding:0 10px 0 10px;
			width:68%;
		}
		
		button{
			width:25%;
			float:right;
			cursor:pointer;
			color:@dark-grey !important;
			font-size:15px;
			font-family:@heading-font;
		}
		
		.validation-advice{
			display:none;
		}
	}

	.footer-copyright{
		margin-left: 0px;
	}
}

.page iframe{
	height:500px;
}

.box-reviews{

	dl {
		margin: 0 20px 20px !important;
		
		.date{
		float:right;
		}
	}
	
	h4{
		vertical-align:middle;
		padding-top:6px;
		font-family: Oswald,georgia,serif !important;
		text-rendering: optimizelegibility !important;
		font-size: 16px !important;
		color: #8e8e8e !important;
		text-transform: none !important;
	}
	
	.radio{
		-webkit-appearance: none;
		color:@primary-grey;
		cursor:pointer;
		margin-right: 10px;
	}	
		
	input[type=radio]{
		display:none;
		}

	.validation-advice{
		display:block !important;
		margin:0 0 20px 0;
	}		

	td.last{
	min-width:100px;
	}

	table{
		margin-bottom:40px;
	}	

	tr.odd.last {
		border-bottom: 0px !important;
	}

	th{
		text-align:left !important;
		width:45%;
		font-weight:bold;
	}
	
	
	td{
		vertical-align: middle;
	}

	.form-list li{
		float:left;
		width:50%;
	}

			.input-text{
				width: 100% !important;
			}
			
			.input-text#nickname_field, .input-text#summary_field{
				width: 98% !important;
			}
			
			textarea{
				width: 200% !important;
				
			}

	.reviw-table{
		margin-top:20px;
		margin-bottom:20px;
	}

	button.button{
		background-color:@primary-pink;
		color:#fff+
	}
	
	.pager {
		margin: 5px 0;
		padding: 5px 0;
		border-top: 0px;
		border-bottom: 0px;
	}
	
}


// Responsive views (media queries)
		

@media only screen and (min-width: 960px) {
	
	.footer-block{
		width: percentage(1/6);
	}
		
	.message.cleft{
	float:left;div{float:right;}
	}

	.message.cright{
	float:right; div{float:left;}
	}
	
}

@media only screen and (max-width: 1280px) {

		.blog-crew {
			h2{
			font-size:26px !important;
			}
		}
		

		.instagram-facebook{
			
			.facebook{
				margin-left:5px !important;
				margin-right:0px !important;
			}
		}

		.agenda{
			.product-shop{
				width:120px !important;
			}
		}
		
		.footer-container{
		
			.newsletter{
				padding-right:10px;
				float:left !important;
			}
			
			.socials{
				padding-left:10px;
				
				h3{
					margin: 30px 0 5px;
				}
			}
			
			.newsletter, .socials{
				width:40% !important;
				
							button{
				font-size:12px !important;
				}
				
				input{
					width:60% !important;
				}
				
				button{
					font-size:12px  !important;
				}
			}
			
			.border{
				display:none;
			}
			
			.footer-block{
				width: percentage(1/3);
				padding: 0px !important; 
				
				.inner-footer-block{
					margin:auto;
					width:160px !important;
				}
			}
		}
		
		.nav-regular li.level0 > a {
			padding: 0 8px !important; 
		}

	}

@media only screen and (max-width: 960px) {

		.agenda{
			.product-shop{
				width:90px !important;
			}
		}

		
		.top-links{
			margin-left:120px;
		}
		
		.add-to-box{
		float:left !important;
	}
	
	.header-mobile{
		margin-bottom:20px;
	}
	
	.column-main h1{
		font-size:18px;
	}
	
	.block block-cart{
		display:none  !important;
		position:absolute !importnat;
	}
	
	.header-mobile .skip-link, .mini-cart .skip-cart, .header .dropdown.open > .dropdown-heading.cover span{
		background-color: @primary-pink;
		color: @white !important;
	}

	
	.header-mobile .skip-link.skip-active, .mini-cart-heading.skip-active span{
		background-color: @dark-grey !important;
		color: @light-grey !important;
	}
	
	.contact-box-e{
	
		&.klantenservice{

			.b{
				padding-bottom:40px;
			}
		
			div{
				width:100%;
			}
			
			img{
				position:static;
			}
			
		}
}

.product-view .sticker-wrapper.top-right {
	top: 365px;
	margin-left: -70px;
}

.product-view .sticker-wrapper.top-bottom{
	margin-top: -55px !important;
}
	
	
}

@media only screen and (max-width: 860px) {

		.agenda{
			.product-shop{
				margin-top:10px;
				width:160px !important;
			}
		}

		.top-links{
			margin-left:0px !important;
		}
		
		.info-box{
		
			margin-bottom:20px !important;
			h2{
			margin:70px 30px !important;
			font-size:36px !important;
			}
		}
		
		.phone-mail{

				a .phone, a .mail{
				margin-left:-90px !important;
				clear:both;
				position:static !important;
				}
				
				a .phone{
					margin-bottom:80px;
				}
				
				a .mail{
					margin:20px 0 20px 0;
				}	
		}
		
		.comments-wrapper{
		
		.comment-avatar{
				margin-left:0px !important;
		}
		
		.comment-inner{
		margin-left:55px;
		
					.comment-url{
				font-size:12px;
			}
		
		}
		
		.comment-avatar{
			width:50px;
			height:50px;
			margin-bottom:50px;
			background-size: 35px 30px;
			-webkit-border-radius: 5px;
			-moz-border-radius:5px;
			border-radius: 5px;
		}


		ul.children{
		
			.comment-inner.admin{
				margin-left:60px;
			}
		}
	}
	
	.product-view{

		.product-img-column{
			float: none !important;
			width:100% !important;
		}
		
		.product-shop{
			height:280px;
		}
		
		.product-shop, .product-icons{
			width:45% !important;
			
		}
		
		.product-icons li {
			margin-right: 0px;
		}
		
		
	}
	
	
}



@media only screen and (max-width: 767px) {
	

.col-main, .col-left, .col-right {
    margin-bottom: 0px !important;
}

.inner-container{
	position:relative;
}

.category-description{
	padding-right:10px;
	position:absolute;
	overflow:hidden;
	bottom:0;
}

	// Homepage

	#blog-overview {
		width: 100%;
		float: none;
	}

	#spotlight{
		width: 100%;
		float: none;
	}
	
	.hp-blocks-holder{
	
		.skip-link{
		width:25% !important;
		}
	
		.mini-cart-heading{
	
		float:right !important;
		
		margin-top:-50px !important;
		padding:7px 0 7px 0 !important;
		display: inline-block !important;
		
			.label, .caret{
				display:none !important;
			}
		}
	}

	#header-cart{
		position:static !important;
	}
	

	#populair{

		ul{

			li{
				padding: 10px;
				width: percentage(1/3);
			}
		}
	}

	// Product view

	.product-view .grid12-7, .product-view .grid12-5{
		margin-bottom: 0px;
	}

	.colorswatch{

		.swatch{
			width: percentage(1/6);
		}
	}

	.prodinfo{

		.info{
			width: 100%;
			margin-top:-10px !important;
			margin: 0px 0px 20px 0px;
			padding-left:20px;
		}

		.icons{
			width: 100%;
		}
	}

	// Sidebar

	.sidebar{

		.slice{

			&.images img{
				padding: 0px 0px 0px 0px;
				display: inline-block;

				a{
					display: inline-block;
					float: left;
					margin: 0px 0px 15px 15px;

					&:first-child{
						margin: 0px 0px 15px 15px;
					}
				}
			}
		}	
	}
	
	.category-title, .category-image{
		position:absolute;
	}
	
	.category-title{
		top:25px;
	}
	
	.category-image{
		top:55px;
		width:96.8%;
	}
	
	.col-left{ 
		margin-top:34% !important;
	}
	
	.block-cms-navigation{
		margin-top:-34% !important;
	}
	
	
	.instagram-facebook{
		float:left !important;
		
		.instagram{
			clear:both;	
		}
			
		.instagram, .facebook{
			margin-top:10px !important;
		}
	}
	
	.main.container{
		padding-top: 0px !important;
	}
	
	#blog-overview{
		margin-bottom: 40px; 
	}
	
	#blog-overview h2{
		font-size: 14px;
	}
	
	#spotlight, .brand-slider, .toolbar, #blog-overview p, .block-viewed, .kw-logo, .sidebar .newsletter, .images, .block-blog-comments, .agenda, .block-recent-posts{
	display:none !important;
	}
	
	.toolbar-bottom .toolbar{
	display:block !important;
	height:180px  
	}
	
	.header-primary{
		padding-bottom: 10px;
	}
	
	.the-slideshow-wrapper-outer {
		margin-bottom: 20px;
	}
	
	.products-grid .item {
		padding-top: 5px;
	}
	
	#blog-overview h3 {
		margin: 0 0 15px !important;
	}
	
	margin-bottom: 30px;
	
	
	.box-reviews{
		
		td.last{
			display:none;
		}
		
		td {
			text-align: center;
		}
		
		th{
			width:55%;
		}
	
	}

	
	.contact-box-a, .contact-box-c, .contact-box-b, .contact-box-d{
	
		padding-bottom:20px;
		
		.a, .b, .c{
			width:100% !important;
			clear:both;
			margin-bottom:20px;
		}
		
		&.klantenservice{
		
			.a, .b, .c{
				margin-top:5px;
				margin-bottom:5px;
				
				a{
				font-size:11px;
				}
			}
		}
	}
	
	.contact-box-a{
	
		&.contact{
			height:250px;
		}
		
	}
	
	.contact-box-b {
		height:200px;
		
		div{
			width:250px !important;
		}	
	}
	
	.contact-box-c{
		height:400px;
		
		div{
			width:300px !important;
		}
		
	}
	
	.contact-box-e{
		padding-bottom:20px;
	}
	
	.product-view .sticker-wrapper.top-right {
		top: 25px;
		right: 20px;
}

	.col-1.registered-users, .col-2.new-users{
		width: 100%;
	}
}

@media only screen and (max-width: 550px) {

	h3.section-title, .section-title.padding-right, #blog-overview h3{
		font-size:22px !important;
	}
	

	.bundlediscount-selections {
		width:208px  !important;
	}
	
	.promotions-div{
		min-width: 250px  !important;
	}
	
	.blog-crew {
		
		.item{
			width:95% !important;
			height:180px;
			margin-left:-100px;
				margin-left:0px;
				
			h2{
			position:left;
			width:100px;
			}
		}
	}
	
	.blog-video
	{
	
	.item{
	
		height:300px;
		h2 a, h2
		{
			font-size:12px !important;
		}
		
		}
	
	}
	
	.blog-crew {
	
			h2{
			margin-left:50% !important;
			font-size:34px !important;
			border:0 !important;
			text-decoration:underline;
			width:200px;
			
			span{
			margin-left:-100px;
			}
			}
		}
		
	.toolbar-bottom .toolbar{
		height:240px;
	}
	
	.col-left {
		margin-top:40% !important;
	}
	
	.block-cms-navigation{
		margin-top:-40% !important;
	}
	
	.comments-wrapper{

		.comment-avatar{
			width:30px !important;
			height:30px !important;
			margin-bottom:50px;
			background-size: 20px 20px;
			-webkit-border-radius: 5px;
			-moz-border-radius:5px;
			border-radius: 5px;
		}
		
		.comment-avatar.admin{
			background-size: 20px 25px !important;
		}
			
		.comment-inner{
			margin-left:35px !important;
			margin-right:35px !important;
		}

		ul.children{
			margin-top:2px;
			margin-left:20px;
		}
	}
	
	.category-image{
		top:55px;
		width:94%;
	}
	
	.page iframe{
		height:350px !important;
	}
	
	.box-reviews{
	
	
		th{
		width:60% !important;
		}
		
		.form-list li{
			float:none !important;
			width:100% !important;
		}
		
		.input-text, .input-text#nickname_field, .input-text#summary_field,  button.button, .form-list textarea {
			width:100%!important;
		}

		
		button.button, button.buttons-set {
			min-width: 100%;
			margin:auto;
		}
	
	}
	
	.footer-block{
		h6{
		font-size:16px !important;
		}
	}
	
	.inspiratie.box, .inspiratie.desc, .inspiratie.contact{
		display:none;
	}
	
	.contact-box-b {
		height:320px;
	}
	
}

@media only screen and (max-width: 480px) {


	table{
		margin-bottom:20px;
	}	

	tr.odd.last {
		border-bottom: 0px !important;
	}


	th, td {
		padding: 0px;
	}

	
	.footer-container{
	
		.footer-block, .socials, .newsletter{
		width:100% !important;
		margin: 30px 0 0 !important;
		
			.inner-footer-block{
				margin:0px;
				width:160px !important;
			}
			
			h6{
				margin:0px !important;
			}
		
		}
	}
	.buttons-set button.button{
		float: left !important;
		margin-left:0px;
	}
	
	.contact-box-a{
	
			&.klantenservice{
			height:100px;
		}
	
		.cirkel{
			font-size:11px;
			padding-top:20px;
			width:70px;
			height:50px;
			margin-left: -35px!important;
		}
	}
	
	.over-ons-container{
	
		.round, .flip-container {
			width: 100px !important;
			height: 100px !important;
		}
	}
	
	
	.product-view{

		.product-shop{
			width:100% !important;
			margin-bottom:20px;
		}
		
		.product-icons{
			display:none;
		}

	}
	
	
}

@media only screen and (max-width: 320px) {

	.footer-block{
			width: percentage(1/1);
	}	
		
	.header-mobile .logo-wrapper--mobile {
		float: left !important;
		text-align: center !important;
	}
	
	.promotions-div{
		min-width: 150px !important;
	}
	
	.toolbar-bottom .toolbar{
		height:300px;
	}

	.breadcrumbs{
		display:none;
	}
	
	.category-image{
		top:55px;
		width:90%;
	}
	
	.col-left {
		margin-top:60% !important;
	}
	
	.fieldset, fieldset{
	
		.input-text, .input-text#nickname_field, .input-text#summary_field, button.button, .form-list textarea {
			width:90% !important;
		}
	
	}
	
	
	.page iframe{
		height:250px !important;
	}
	
	.box-reviews{
	
		input.radio {
			margin-right: 2px;
		}
		
		h4{
			font-size: 14px !important;		
		}
		
		.ic{
			font-size: 12px !important;
		}
	}
	
	.contact-box-a, .contact-box-b, .contact-box-c, .contact-box-e {
	
		&.contact{
			div{
				width:100px !important;
			}
		}
		
		&.klantenservice{
		
		
			div{
				
				.cirkel{
					font-size:9px;
				}
			}
			
			img{
				display:none;
			}
			
		}
	}
	
}