<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<?php
    $theme = $this->helper('ultimo');
    $helperHeader = $this->helper('ultimo/template_page_html_header');
    $connectorMenu = $this->helper('infortis/connector_infortis_ultramegamenu');

    //Get HTML of header blocks
    //**************************************************************
    $currencySwitcherHtml = $this->getChildHtml('currency');
    $languageSwitcherHtml = $this->getChildHtml('store_language');
    $cartHtml = $this->getChildHtml('cart_sidebar');
    $compareHtml = $this->getChildHtml('compareMini');
    $logoHtml = $this->getChildHtml('logo');
    $searchHtml = $this->getChildHtml('search_wrapper');
    $accountLinksHtml = $this->getChildHtml('account_links');
    $userMenuHtml = $this->getChildHtml('user_menu');
    $menuHtml = $this->getChildHtml('topMenu');

    //Layout settings and basic flags
    //**************************************************************

    //Sticky header
    $sticky = $theme->getCfg('header/sticky');

    //Mobile header
    $mobileHeaderMode = true; //TODO: remove. This option is deprecated since Ultimo 1.16.0 //$mobileHeaderMode = $theme->getCfg('header/mode');
    $mobileMenuThreshold = 770; //Set default value, if mobile menu threshold doesn't exist
    if ($sticky)
    {
        $val = $connectorMenu->getMobileMenuThreshold();
        if ($val !== NULL)
        {
            $mobileMenuThreshold = $val;
        }
    }

    //This flag indicates that in mobile header the default language/currency switchers should be hidden
    //and replaced with mobile versions of those switchers
    $moveSwitchers = $theme->getCfg('header/mobile_move_switchers');

    //Get grid classes for header sections
    $grid = $helperHeader->getGridClasses();

    //Get positions of header blocks
    $position = $helperHeader->getPositions();

    //Check if main menu is displayed inisde a section (full-width section) at the bottom of the header
    $menuDisplayedInFullWidthContainer = $helperHeader->isMenuDisplayedInFullWidthContainer();

    //Additional classes for primary header blocks holder
    $hpClasses = '';
    if ($menuDisplayedInFullWidthContainer === false)
    {
        $hpClasses = ' hp-blocks-holder--stacked'; //Important: keep the space at the beginning
    }

    //Additional classes
    //**************************************************************
    //Header
    $classes['root'] = '';
    if ($moveSwitchers)
        $classes['root'] .= ' move-switchers';
    
    //Menu
    $classes['nav-container'] = '';
    if ($sticky && $theme->getCfg('header/sticky_full_width'))
        $classes['nav-container'] .= ' sticky-container--full-width';

    if ($menuDisplayedInFullWidthContainer === false)
        $classes['nav-container'] .= ' simple';

    //Assign blocks to selected positions
    //**************************************************************
    $html = array();

    //Logo (before search, to keep the search box below the logo if blocks stacked vertically)
    $html[$position['logo']][] = $logoHtml;

    //If mobile mode enabled, place block markers on configured positions
    if ($mobileHeaderMode)
    {
        //Mini cart
        if (!empty($cartHtml))
        {
            $html[$position['cart']][] = '<div id="mini-cart-marker-regular"></div>';
        }

        //Mini compare
        if (!empty($compareHtml))
        {
            $html[$position['compare']][] = '<div id="mini-compare-marker-regular"></div>';
        }

        //Search
        if (!empty($searchHtml))
        {
            $html[$position['search']][] = '<div id="search-marker-regular"></div>';
        }

        //Account links
        if (!empty($accountLinksHtml))
        {
            $html[$position['account-links']][] = '<div id="account-links-marker-regular"></div>';
        }
    }
    else //Mobile mode disabled (deprecated)
    {
        //Mini cart
        if (!empty($cartHtml))
        {
            $html[$position['cart']][] = '<div id="mini-cart-marker-regular"></div>' . $cartHtml;
        }

        //Mini compare
        if (!empty($compareHtml))
        {
            $html[$position['compare']][] = '<div id="mini-compare-marker-regular"></div>' . $compareHtml;
        }

        //Search
        if (!empty($searchHtml))
        {
            $html[$position['search']][] = '<div id="search-marker-regular"></div>' . $searchHtml;
        }

        //Account links
        if (!empty($accountLinksHtml))
        {
            $html[$position['account-links']][] = '<div id="account-links-marker-regular"></div>' . $accountLinksHtml;
        }
    }

    //User menu
    $html[$position['user-menu']][] = $userMenuHtml;

    //Main menu
    $menuContainerHtml = '
    <div class="nav-container skip-content sticky-container' . ($classes['nav-container'] ? $classes['nav-container'] : '') . '">
        <div class="nav container clearer">
            <div class="inner-container">' . $menuHtml . '</div>
        </div>
    </div>';
    if ($menuDisplayedInFullWidthContainer === false)
    {
        $html[$position['main-menu']][] = $menuContainerHtml;
    }

    //Currency switcher
    if (!empty($currencySwitcherHtml))
    {
         $html[$position['currency']][] = '<div id="currency-switcher-wrapper-regular">' . $currencySwitcherHtml . '</div>';
    }

    //Language switcher
    if (!empty($languageSwitcherHtml))
    {
        $html[$position['language']][] = '<div id="lang-switcher-wrapper-regular">' . $languageSwitcherHtml . '</div>';
    }

    //Skip links and blocks displayed via skip links
    //**************************************************************
    //Skip links count
    $skipLinksCount = 0;

    //Search
    if (!empty($searchHtml))
    {
        $skipLinksCount++;
    }

    //Account links
    if (!empty($accountLinksHtml))
    {
        $skipLinksCount++;
    }

    //Mini cart
    if (!empty($cartHtml))
    {
        $skipLinksCount++;
    }

    //Mini compare
    if (!empty($compareHtml))
    {
        $skipLinksCount++;
    }

    //Main menu
    if (!empty($menuHtml)) 
    {
        $skipLinksCount++;
    }
?>
<div class="header-container header-regular" id="top">
<div class="header-container2">
<div class="header-container3">

	<div class="header-top-container">
		<div class="header-top header container clearer<?php if ($classes['top']) echo " " . $classes['top']; ?>">
			<div class="inner-container">
				<?php if ($tmpHtml = $this->getChildHtml('block_header_top_left')): ?>
					<div class="block_header_top_left item item-left"><?php echo $tmpHtml; ?></div>
				<?php endif; ?>
				<?php if ($tmpHtml = $this->getChildHtml('block_header_top_left2')): ?>
					<div class="block_header_top_left2 item item-left"><?php echo $tmpHtml; ?></div>
				<?php endif; ?>
				<div class="item item-left hide-below-960">
					<div id="account-menu-wrapper-regular" class="item item-left"><?php echo $this->getChildHtml('menu_header'); ?></div>
				</div>
				
				<?php if ($tmpHtml = $this->getChildHtml('block_header_top_right')): ?>
					<div class="block_header_top_right item item-right"><?php echo $tmpHtml; ?></div>
				<?php endif; ?>
				<div id="currency-switcher-wrapper-regular" class="item item-right"><?php echo $currencySwitcher; ?></div>
				<div id="lang-switcher-wrapper-regular" class="item item-right"><?php echo $languageSwitcher; ?></div>
				<?php if ($tmpHtml = $this->getChildHtml('block_header_top_right2')): ?>
					<div class="block_header_top_right2 item item-right"><?php echo $tmpHtml; ?></div>
				<?php endif; ?>

			</div> <!-- end: inner-container -->
			<?php echo $this->getChildHtml('topContainer'); ?>
		</div> <!-- end: header-top -->
	</div> <!-- end: header-top-container -->

	<div class="header-primary-container">
		<div class="header-primary header container<?php if ($classes['primary']) echo " " . $classes['primary']; ?>">
			<div class="inner-container">

				<div class="hp-blocks-holder skip-links--<?php echo $skipLinksCount; ?>">

					<?php if ($mobileHeaderMode && $hasHeaderCollateral): ?>
						<!-- Mobile header collaterals -->
						<div id="header-collateral" class="header-collateral">
							<?php echo $languageSwitcher; ?>
							<?php echo $currencySwitcher; ?>
						</div>
					<?php endif; ?>

					<!-- Mobile logo -->
					<div class="logo-wrapper--mobile">
						<a class="logo logo--mobile" href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>">
							<img src="<?php echo (($small = $this->getLogoSrcSmall()) ? $small : $this->getLogoSrc()); ?>" alt="<?php echo $this->getLogoAlt() ?>" />
						</a>
						
					</div>
					<div class="clearer after-mobile-logo"></div>

					<!-- Skip Links -->

					<?php if ($menuHtml): ?>
						<a href="#header-nav" class="skip-link skip-nav">
							<span class="icon ic ic-menu"></span>
							<span class="label"><?php echo $this->__('Menu'); ?></span>
						</a>
					<?php endif; ?>

					<?php if ($searchHtml): ?>
						<a href="#header-search" class="skip-link skip-search">
							<span class="icon ic ic-search"></span>
							<span class="label"><?php echo $this->__('Search'); ?></span>
						</a>
					<?php endif; ?>

					<?php if ($accountHtml): ?>
						<a href="#header-account" class="skip-link skip-account">
							<span class="icon ic ic-user"></span>
							<span class="label"><?php echo $this->__('My Account'); ?></span>
						</a>
					<?php endif; ?>

					<?php if ($miniCompareHtml): ?>
						<a href="#header-compare" class="skip-link skip-compare">
							<span class="icon ic ic-compare"></span>
							<span class="label"><?php echo $this->__('Compare'); ?></span>
						</a>
					<?php endif; ?>

					<!-- Mobile cart wrapper -->
					<div id="mini-cart-wrapper-mobile"></div>

					<!-- Left column -->
					<div class="hp-block <?php echo $leftColGridClass; ?>">

						<div class="logo-wrapper logo-wrapper-regular">
						<a class="logo logo--regular" href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
						<?php if ($this->getIsHomePage()): ?>
							<br><h1><?php echo $this->getChildHtml('welcome') ?></h1></br>
						<?php else: ?>
							<br><span><?php echo $this->getChildHtml('welcome'); ?></span></br>
						<?php endif; ?>
						</div>

					</div>

					<!-- Central column -->
					<?php if ($centralColUnits): ?>
					<div id="header-search" class="hp-block search-wrapper-centered clearer <?php echo $centralColGridClass; ?> <?php echo $searchClasses; ?> skip-content skip-content--style">
						<?php echo $p['centralCol'][0]; ?>
					</div>
					<?php endif; ?>

					<!-- Right column -->
					<div class="hp-block user-menu clearer <?php echo $rightColGridClass; ?>">

						<?php if (isset($p['rightCol'][0])): ?>
							<div id="header-search" class="search-wrapper-p0 <?php echo $searchClasses; ?> skip-content skip-content--style"><?php echo $p['rightCol'][0]; ?></div>
						<?php endif; ?>

						<?php if (isset($p['rightColBreak'][0])) echo $p['rightColBreak'][0]; ?>

						<?php if ($miniCartHtml): //Mini cart ?>
							<div id="mini-cart-wrapper-regular">
								<?php echo $miniCartHtml; ?>
							</div>
						<?php endif; ?>

						<?php // Disable line break // if (isset($p['rightColBreak'][1])) echo $p['rightColBreak'][1]; ?>

						<?php if (isset($p['rightCol'][1])): ?>
							<div id="header-search" class="search-wrapper-p1 <?php echo $searchClasses; ?> skip-content skip-content--style"><?php echo $p['rightCol'][1]; ?></div>
						<?php endif; ?>

						<?php // Disable line break // if (isset($p['rightColBreak'][2])) echo $p['rightColBreak'][2]; ?>

						<?php // Disable Mini compare //echo $miniCompareHtml; //Mini compare ?>

						<?php if (isset($p['rightColBreak'][3])) echo $p['rightColBreak'][3]; ?>

						<?php if (isset($p['rightCol'][2])): ?>
							<div id="header-search" class="search-wrapper-p2 <?php echo $searchClasses; ?> skip-content skip-content--style"><?php echo $p['rightCol'][2]; ?></div>
						<?php endif; ?>
						
						<?php if (isset($p['rightColBreak'][4])) echo $p['rightColBreak'][4]; ?>

						<div id="header-account" class="top-links links-wrapper-separators-left skip-content skip-content--style">
							<?php
							//Additional custom Top Links
							if ($tmpHtml = $this->getChildHtml('block_header_top_links2'))
								echo $tmpHtml;

							//Default Magento top links (page.xml)
							if ($theme->getCfg('magento_blocks/top_links'))
								echo $this->getChildHtml('topLinks');

							//Custom top links - override Magento's default Top Links
							if ($tmpHtml = $this->getChildHtml('block_header_top_links'))
								echo $tmpHtml;
							?>
						</div> <!-- end: top-links -->

						<?php if (isset($p['rightColBreak'][5])) echo $p['rightColBreak'][5]; ?>

						<?php if (isset($p['rightCol'][3])): ?>
							<div id="header-search" class="search-wrapper-p3 <?php echo $searchClasses; ?> skip-content skip-content--style"><?php echo $p['rightCol'][3]; ?></div>
						<?php endif; ?>

					</div> <!-- end: user-menu -->
					
				</div> <!-- end: v-grid-container -->

			</div> <!-- end: inner-container -->
		</div> <!-- end: header-primary -->
	</div> <!-- end: header-primary-container -->

	<div id="header-nav" class="nav-container sticky-container skip-content">
		<div class="nav container clearer<?php if ($classes['nav']) echo " " . $classes['nav']; ?>">
			<div class="inner-container">
				<?php echo $menuHtml; ?>
			</div> <!-- end: inner-container -->
		</div> <!-- end: nav -->
	</div> <!-- end: nav-container -->
</div> <!-- end: header-container3 -->
</div> <!-- end: header-container2 -->
</div> <!-- end: header-container -->



<?php //Scripts %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% ?>

<script type="text/javascript">
//<![CDATA[

	<?php //Mobile mode ------------------------------------------------- ?>
	<?php if ($mobileHeaderMode): ?>

		var SmartHeader = {

			mobileHeaderThreshold : 768
			, rootContainer : jQuery('.header-container')

			, init : function()
			{
				enquire.register('(max-width: ' + (SmartHeader.mobileHeaderThreshold - 1) + 'px)', {
					match: SmartHeader.moveElementsToMobilePosition,
					unmatch: SmartHeader.moveElementsToRegularPosition
				});
			}

			, activateMobileHeader : function()
			{
				SmartHeader.rootContainer.addClass('header-mobile').removeClass('header-regular');
			}

			, activateRegularHeader : function()
			{
				SmartHeader.rootContainer.addClass('header-regular').removeClass('header-mobile');
			}

			, moveElementsToMobilePosition : function()
			{
				SmartHeader.activateMobileHeader();
				
				jQuery('.logo-wrapper').css('display', 'none');
				
				jQuery('.skip-compare').css('display', 'none');
				
			}

			, moveElementsToRegularPosition : function()
			{
				SmartHeader.activateRegularHeader();
				
				jQuery('.logo-wrapper').css('display', 'block');
				
				
				jQuery('.mini-cart-heading').css('float','none');

				//jQuery('#mini-cart-wrapper-regular').prepend(jQuery('#mini-cart'));
				jQuery('.skip-active').removeClass('skip-active');

				//Enable dropdowns
				jQuery('#mini-cart').addClass('dropdown');
				jQuery('#mini-compare').addClass('dropdown');
			}

		}; //end: SmartHeader

		SmartHeader.init();

		jQuery(function($) {

			//Skip Links
			var skipContents = $('.skip-content');
			var skipLinks = $('.skip-link');

			skipLinks.on('click', function (e) {
				e.preventDefault();

				var self = $(this);
				var target = self.attr('href');

				//Get target element
				var elem = $(target);

				//Check if stub is open
				var isSkipContentOpen = elem.hasClass('skip-active') ? 1 : 0;

				//Hide all stubs
				skipLinks.removeClass('skip-active');
				skipContents.removeClass('skip-active');

				//Toggle stubs
				if (isSkipContentOpen) {
					self.removeClass('skip-active');
				} else {
					self.addClass('skip-active');
					elem.addClass('skip-active');
				}
			});

		}); //end: on document ready

	<?php endif; //end: mode  ?>



	<?php //Sticky header ------------------------------------------------- ?>
	<?php if ($sticky):
	?>
		jQuery(function($) {

			var StickyHeader = {

				stickyThreshold : <?php echo $mobileMenuThreshold; ?> 
				, isSticky : false
				, isSuspended : false
				, headerContainer : $('.header-container')
				, stickyContainer : $('.sticky-container')	//.nav-container
				, stickyContainerOffsetTop : 55

				, init : function()
				{
					StickyHeader.stickyContainerOffsetTop = 
						StickyHeader.stickyContainer.offset().top + StickyHeader.stickyContainer.outerHeight();

					StickyHeader.applySticky();
					StickyHeader.hookToScroll();

					if (StickyHeader.stickyThreshold > 0)
					{
						enquire.register('(max-width: ' + (StickyHeader.stickyThreshold - 1) + 'px)', {
							match: StickyHeader.suspendSticky,
							unmatch: StickyHeader.unsuspendSticky
						});
					}
				}

				, applySticky : function()
				{
					if (StickyHeader.isSuspended) return;

					var viewportOffsetTop = $(window).scrollTop();
					if (viewportOffsetTop > StickyHeader.stickyContainerOffsetTop)
					{
						if (!StickyHeader.isSticky)
						{
							StickyHeader.activateSticky();
						}
					}
					else
					{
						if (StickyHeader.isSticky)
						{
							StickyHeader.deactivateSticky();
						}
					}
				}

				, activateSticky : function()
				{
					var height = StickyHeader.stickyContainer.outerHeight();
					StickyHeader.headerContainer.css('padding-bottom', height); //Fill in the space of the removed container
					//$('.page').css('padding-top', height); //Fill in the space of the removed container

					StickyHeader.headerContainer.addClass('sticky-header');
					StickyHeader.stickyContainer.css('margin-top', '-' + height + 'px').animate({'margin-top': '0'}, 200, 'easeOutCubic');
					//StickyHeader.stickyContainer.css('opacity', '0').animate({'opacity': '1'}, 300, 'easeOutCubic');
					StickyHeader.isSticky = true;
				}

				, deactivateSticky : function()
				{
					StickyHeader.headerContainer.css('padding-bottom', '');
					//$('.page').css('padding-top', '');

					StickyHeader.headerContainer.removeClass('sticky-header');
					StickyHeader.isSticky = false;
				}

				, suspendSticky : function()
				{
					StickyHeader.isSuspended = true;
					StickyHeader.deactivateSticky();
				}

				, unsuspendSticky : function()
				{
					StickyHeader.isSuspended = false;
					StickyHeader.applySticky();
				}

				, hookToScroll : function()
				{
					$(window).on("scroll", StickyHeader.applySticky);
				}

				, hookToScrollDeferred : function()
				{
					var windowScrollTimeout;
					$(window).on("scroll", function() {
						clearTimeout(windowScrollTimeout);
						windowScrollTimeout = setTimeout(function() {
							StickyHeader.applySticky();
						}, 50);
					});
				}

			}; //end: StickyHeader

			StickyHeader.init();

		}); //end: on document ready

	<?php endif; //end: if sticky  ?>

//]]>
</script>